.input {
    border: light-dark(
      1px solid var(--mantine-color-gray-2),
      1px solid var(--mantine-color-dark-4)
    );
    font-size: 0.875rem;
    font-weight: 600;
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
    width: 100%;
    text-wrap: nowrap;
    /* min-width: 15.125rem; */
  
    &:focus-within {
      border: 1px solid var(--mantine-color-fary-4);
    }
  }
  
  .inBetween {
    background-color: rgba(63, 128, 255, 0.8);
  }
  